{
  "35":[
         {"ip":"switch_ip.net","ports":[1,3]},
         {"ip":"switch_ip.net","ports":[4]}
       ],
  "37":[
         {"ip":"switch_ip.net","ports":[1,2]},
         {"ip":"switch_ip.net","ports":[3]}
       ]
}
